{%extends 'base.html'%} 
{% block content %}
<div class="container">

  <div class="row">
    {% if searched%}
      <h2>Found {{ searched|length }} of searched term {{message}}</h2>
    {% else %}
      <h2> Found 0 image for the search term {{message}}</h2>
    {% endif %}

  </div>

  <div class="row">

  {% if searched %}
    {% for imag in searched %}
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <img src="{{imag.image.url}}" alt="Image" width='200' length='200'>
    </div>
    {% endfor %}
  {% endif %}
  </div>
</div>
{% endblock %}