 img:hover{
  -ms-transform: scale(1.5); 
  -webkit-transform: scale(1.5); 
  transform: scale(1.5); 
} 
img{
  transition: transform .2s;
  width: 350px;
  height: 250px;
  margin: 0 auto;
}
body{
background-color:pink; 
}